### OSX ###
.DS_Store

# Dependency directory
node_modules

# Logs
logs
*.log
npm-debug.log*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Editors
.settings/
.vscode/
.idea

# Environment variables
.env

# Build
.cache
dist