* { box-sizing: border-box; }

body {
    font-family: var(--bodt-font-family);
    color: var(--body-text-color);
    margin: 0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

button, input {
    font-family: inherit;
    font-size: inherit;
}

a { text-decoration: none; }

input::-moz-placeholder { color: var(--text-secondary); }
input::-webkit-input-placeholder { color: var(--text-secondary); }
input:-ms-input-placeholder { color: var(--text-secondary); }
input::-ms-input-placeholder { color: var(--text-secondary); }
input::placeholder { color: var(--text-secondary); }