.generate-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--light-bg-gray);
    border-radius: 4px;
    padding: 16px;
}

@media (min-width: 768px) {
    .generate-form {
        flex-direction: row;
    }
}

.generate-form__input {
    font-family: inherit;
    font-size: inherit;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    height: 60px;
    width: 100%;
    padding: 0 16px;
}

.generate-form__input:focus {
    outline: none;
    border-color: #673ab7;
}

.generate-form__button {
    color: white;
    display: block;
    height: 60px;
    white-space: nowrap;
    border: none;
    background-color: var(--primary);
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
}

@media (min-width: 768px) {
    .generate-form__button {
        margin-top: 0;
        margin-left: 8px;
    }
}